* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(0);
    }

    31% {
        transform: translateX(-620px);
    }

    60% {
        transform: translateX(-620px);
    }

    61% {
        transform: translateX(-1232px);
    }

    95% {
        transform: translateX(-1232px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Animação de cima para baixo */
@keyframes moveDown {
    0% {
        top: 0;
    }

    50% {
        top: 40px;
        /* Ajuste a distância para o movimento */
    }

    100% {
        top: 0;
    }
}

/* Animação da esquersa para direita */
@keyframes moveRight {
    0% {
        right: 0;
    }

    50% {
        right: 5px;
        /* Ajuste a distância para o movimento */
    }

    100% {
        right: 0;
    }
}

.back {
    background: linear-gradient(to right, #00274e, #272727);
}

.welcome {
    height: 18vh;
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    background-color: rgba(179, 179, 179, 0.192);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: moveDown 2s ease-in-out infinite;
    text-align: center;
    transition: 0.3s ease-in-out;
    border-radius: 32px;
}

.welcome:hover {
    background-color: rgba(139, 139, 139, 0.192);
}

.corrossel {
    height: 50vh;
    width: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    padding-top: 5px;
    padding-left: 10px;
    border-left: 5px solid rgba(119, 119, 119, 0.384);
}

.card {
    height: 40vh;
    min-width: 100%;
    animation: slide 50s ease-in-out infinite;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.move {
    position: relative;
    animation: moveRight 1.5s ease-in-out infinite;
    transition: 1s ease-in-out;
}

@media (max-width: 640px) {
    .welcome {
        font-size: 1.10rem;
        /* equivalente a 14px */
    }

    .corrossel {
        width: 40vh;
    }

    .card {
        margin-left: 0px;
        margin-right: 10px;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }

        30% {
            transform: translateX(0);
        }

        31% {
            transform: translateX(-342px);
        }

        60% {
            transform: translateX(-342px);
        }

        61% {
            transform: translateX(-694px);
        }

        95% {
            transform: translateX(-694px);
        }

        100% {
            transform: translateX(0);
        }
    }
}