* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes moveLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
        /* Posição inicial */
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        /* Posição final */
    }
}

/* Animação de cima para baixo */
@keyframes moveDown {
    0% {
        top: 0;
    }

    50% {
        top: 40px;
        /* Ajuste a distância para o movimento */
    }

    100% {
        top: 0;
    }
}

/* Animação da esquersa para direita */
@keyframes moveRight {
    0% {
        right: 0;
    }

    50% {
        right: 5px;
        /* Ajuste a distância para o movimento */
    }

    100% {
        right: 0;
    }
}

.back {
    background: linear-gradient(to right, #00274e, #272727);
}

.welcome {
    height: 18vh;
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    background-color: rgba(179, 179, 179, 0.192);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: moveDown 2s ease-in-out infinite;
    text-align: center;
    transition: 0.3s ease-in-out;
    border-radius: 32px;
}

.welcome:hover {
    background-color: rgba(139, 139, 139, 0.192);
}

.card {
    height: 40vh;
    min-width: 100%;
    /* animation: slide 50s ease-in-out infinite; */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.move {
    position: relative;
    animation: moveRight 1.5s ease-in-out infinite;
    transition: 1s ease-in-out;
}

#init {
    opacity: 1;
    animation: moveLeft 2.0s ease-in-out;
}

/* Estilos iniciais da div (invisível e levemente deslocada) */
#my-apresentation {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.8s ease-out, transform 1.8s ease-out;
}

/* Classe que será adicionada para ativar a animação */
#my-apresentation.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos iniciais da div (invisível e levemente deslocada) */
#projects {
    opacity: 0;
    transform: translateY(2px);
    transition: opacity 2.5s ease-out, transform 0.8s ease-out;
}

/* Classe que será adicionada para ativar a animação */
#projects.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos iniciais da div (invisível e levemente deslocada) */
#photo {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.8s ease-out, transform 1.8s ease-out;
}

/* Classe que será adicionada para ativar a animação */
#photo.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos iniciais da div (invisível e levemente deslocada) */
#section-dash {
    opacity: 0;
    transform: translateY(2px);
    transition: opacity 2.5s ease-out, transform 1.8s ease-out;
}

/* Classe que será adicionada para ativar a animação */
#section-dash.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos iniciais da div (invisível e levemente deslocada) */
#container-kpis {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 3.5s ease-out, transform 1.8s ease-out;
}

/* Classe que será adicionada para ativar a animação */
#container-kpis.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos iniciais da div (invisível e levemente deslocada) */
#container-pie {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 3.5s ease-out, transform 1.8s ease-out;
}

/* Classe que será adicionada para ativar a animação */
#container-pie.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos iniciais da div (invisível e levemente deslocada) */
#container-bar {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 3.5s ease-out, transform 1.8s ease-out;
}

/* Classe que será adicionada para ativar a animação */
#container-bar.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos iniciais da div (invisível e levemente deslocada) */
#container-line {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 3.5s ease-out, transform 1.8s ease-out;
}

/* Classe que será adicionada para ativar a animação */
#container-line.is-visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 640px) {
    .welcome {
        font-size: 1.10rem;
        /* equivalente a 14px */
    }

    .corrossel {
        width: 40vh;
    }

    .card {
        margin-left: 0px;
        margin-right: 10px;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }

        30% {
            transform: translateX(0);
        }

        31% {
            transform: translateX(-342px);
        }

        60% {
            transform: translateX(-342px);
        }

        61% {
            transform: translateX(-694px);
        }

        95% {
            transform: translateX(-694px);
        }

        100% {
            transform: translateX(0);
        }
    }
}