<!DOCTYPE html>
<html lang="pt-br" class="scroll-smooth">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfólio</title>

  <!-- Tailwind via CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Vue via CDN -->
  <script src="./js/vue.js"></script>
  <!-- Css -->
  <link rel="stylesheet" href="./css/index.css">
</head>

<body>

  <!-- APP -->
  <div id="app" class="w-full min-h-screen">

    <!-- Menu -->
    <header class="fixed top-0 left-0 w-full shadow-md z-50 h-16" :class="bg">

      <nav class="transition-all duration-300 ease-in-out ml-6" :class="bg">
        <div class="flex items-center justify-between h-16 pl-2" :class="bg">
          <!-- Itens da navbar para telas grandes -->
          <div class="hidden sm:flex space-x-6 ml-6">
            <div class="text-lg">
              <a href="index.html">Início</a>
            </div>
            <div class="text-lg">
              <a href="about.html">Sobre</a>
            </div>
            <div class="text-lg cursor-pointer">
              <a @click="toggleMode()">Modo Dark</a>
            </div>
          </div>

          <!-- Menu mobile (ícone de hambúrguer para telas pequenas) -->
          <div class="sm:hidden flex items-center">
            <button @click="toggleMenu" :class="bg">
              <svg v-if="!isMenuOpen" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
              <svg v-if="isMenuOpen" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
        </div>

        <!-- Menu dropdown para telas pequenas -->
        <div v-if="isMenuOpen" class="sm:hidden shadow-md absolute left-0 right-0 top-16" :class="bg">
          <div class="text-lg px-6 py-4 border-b-2">
            <a href="index.html">Início</a>
          </div>
          <div class="text-lg px-6 py-4 border-b-2">
            <a href="about.html">Sobre</a>
          </div>
          <div class="text-lg px-6 py-4 ">
            <a @click="toggleMode()">Modo Dark</a>
          </div>
        </div>
      </nav>
    </header>

    <!-- Seção Apresentação do Portifólio -->
    <section class="mt-14 w-full h-[60vh] p-2 bg-cover bg-no-repeat bg-[url(/assets/background.jpg)]">

      <div class="flex flex-col items-center justify-center h-full">
        <h1 class="text-4xl font-bold text-white">Matheus Gregorin</h1>
        <p class="mt-4 text-lg text-white text-center">Seja bem vindo ao meu portifólio.</p>
      </div>

    </section>

    <!-- Seção de chamada ao sobre mim -->
    <section class=" flex items-start justify-center h-[35vh]" :class="bg">
      <div class="welcome">
        <a class="cursor-pointer" href="#section-about">Deixe-me apresentar</a>
        <svg class="cursor-pointer" href="#section-about" width="56" height="56" fill="#acacac"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M12 16l-4-4h8z" />
          <path d="M12 20l-4-4h8z" />
        </svg>

      </div>

    </section>

    <!-- Seção sobre mim -->
    <section id="section-about"
      class="grid grid-cols-1 pb-10 md:grid-cols-2 place-items-center gap-1 p-2 h-auto lg:h-[80vh]" :class="bg">

      <div class="w-[50vh] h-[60vh] sm:w-[85vh] sm:h-[75vh] flex justify-center items-center pt-2 sm:pt-2">
        <img src="./assets/Profile.jpeg" alt="Imagem de perfil"
          class="w-[35vh] h-[50vh] sm:w-[70vh] sm:h-[60vh] object-cover">
      </div>

      <div class="text-lg text-left pr-0 md:pr-12 text-md sm:text-md pt-4 text-center lg:text-left">
        Me chamo Matheus Gregorin sou entusiasta de tecnologia, atuo na área como desenvolvedor back-end desde 2022,
        trabalhando
        arduamente para me tornar um desenvolvedor fullstack. Atualmente formado em
        Análise e Desenvolvimento de Sistemas pela SPTECH SCHOOL. Adoro me desafiar com objetivos novos e ousados,
        sempre com a intenção de aprimorar minhas técnicas e evoluir diariamente.
      </div>

    </section>

    <!-- Seção de chamada a tecnologias -->
    <section class=" flex items-start justify-center h-[35vh]" :class="bg">
      <div class="welcome">
        <a class="cursor-pointer" href="#section-1">Tecnologias de conhecimento</a>
        <svg class="cursor-pointer" href="#section-1" width="56" height="56" fill="#acacac"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M12 16l-4-4h8z" />
          <path d="M12 20l-4-4h8z" />
        </svg>

      </div>

    </section>

    <!-- Seção 1 -->
    <section id="section-1" class="grid w-full h-[150vh] pt-20 px-6 gap-5 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3" :class="bg">

      <!-- Primeira div com a imagem -->
      <div class="flex h-[50vh] p-2 bg-cover bg-no-repeat bg-white rounded-lg shadow-md justify-center items-end">
        <div class="flex flex-col w-full h-[10vh] mt-2 bg-white">
          <!-- bg-[url(./assets/reports_DB.png)] -->
          <p class="text-black">Nome da Imagem 1</p>
          <a href="https://example.com" class="text-blue-500">Clique aqui</a>
        </div>
      </div>

    </section>

    <!-- Seção 2 -->
    <section id="section-2" class="grid mt-14 w-full h-[150vh] p-2 gap-5 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">

      <!-- Primeira div com a imagem -->
      <div
        class="flex h-[50vh] p-2 bg-cover bg-no-repeat bg-[url(./assets/reports_DB.png)] rounded-lg shadow-md justify-center items-end">
        <div class="flex flex-col w-full h-[10vh] mt-2 bg-white">
          <p class="text-black">Nome da Imagem 1</p>
          <a href="https://example.com" class="text-blue-500">Clique aqui</a>
        </div>
      </div>

      <!-- add mais divs aqui de acordo com os projetos -->

    </section>

  </div>

  <script>

    const { createApp } = Vue;

    createApp(
      {
        data() {
          return {
            isMenuOpen: false, // Estado para controlar o menu
            isMode: false, // Estado para controlar o modo escuro
            bg: 'bg-gray-100 text-black'
          }
        },
        methods: {
          toggleMenu() {
            this.isMenuOpen = !this.isMenuOpen; // Alterna entre aberto e fechado
          },
          toggleMode() {
            if (this.isMode) {
              this.isMode = false;
              this.bg = 'bg-gray-100 text-black';
            } else {
              this.isMode = true;
              this.bg = 'bg-gray-900 text-white';
            }
            console.log(this.bg, this.isMode);
          },
        },
      }
    ).mount('#app');
  </script>

</body>

</html>