<!DOCTYPE html>
<html lang="pt-br" class="scroll-smooth">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Matheus Gregorin</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!-- Tailwind via CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Vue via CDN -->
  <script src="./js/vue.js"></script>
  <!-- Echart -->
  <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
  <!-- EChart -->
  <script src="./js/echart.js"></script>
  <!-- Css -->
  <link rel="stylesheet" href="./css/index.css">
</head>

<style>
  /* Estilos iniciais da div (invisível e levemente deslocada) */
  #my-apresentation {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.8s ease-out, transform 1.8s ease-out;
  }

  /* Classe que será adicionada para ativar a animação */
  #my-apresentation.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

  /* Estilos iniciais da div (invisível e levemente deslocada) */
  #projects {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.8s ease-out, transform 1.8s ease-out;
  }

  /* Classe que será adicionada para ativar a animação */
  #projects.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
</style>

<body>

  <!-- APP -->
  <div id="app" class="w-full min-h-screen" :class="bg">

    <!-- Menu -->
    <header class="fixed top-0 left-0 w-full shadow-md z-50 h-16" :class="bg">

      <nav class="transition-all duration-300 ease-in-out px-4 sm:ml-6" :class="bg">
        <div class="flex items-center justify-between h-16 pl-2" :class="bg">
          <!-- Itens da navbar para telas grandes -->
          <div class="hidden sm:flex space-x-6 ml-6">
            <div class="text-lg">
              <a href="index.html" :class="colorText">Início</a>
            </div>
            <div class="text-lg">
              <a @click="goToSection('projects-intro')" class="cursor-pointer" :class="colorText">Projetos</a>
            </div>
            <div class="text-lg cursor-pointer">
              <button class="bg-gray-400 rounded-lg px-2 text-white" @click="toggleMode()"> {{ mode }} </button>
            </div>
          </div>

          <!-- Menu mobile (ícone de hambúrguer para telas pequenas) -->
          <div class="sm:hidden flex items-center">
            <button @click="toggleMenu" :class="bg">
              <svg v-if="!isMenuOpen" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="gray"
                viewBox="0 0 24 24" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
              <svg v-if="isMenuOpen" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="gray"
                viewBox="0 0 24 24" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
        </div>

        <!-- Menu dropdown para telas pequenas -->
        <div v-if="isMenuOpen" class="sm:hidden shadow-md absolute left-0 right-0 top-16 w-full border-b-2" :class="bg">
          <div class="text-lg px-6 py-4 border-b-2 border-t-2">
            <a href="index.html" :class="colorText">Início</a>
          </div>
          <div class="text-lg px-6 py-4 border-b-2">
            <a @click="goToSection('projects-intro')" class="cursor-pointer" :class="colorText">Projetos</a>
          </div>
          <div class="text-lg px-6 py-4 ">
            <button class="bg-gray-400 rounded-lg px-2 text-white" @click="toggleMode()"> {{ mode }} </button>
          </div>
        </div>
      </nav>
    </header>

    <!-- Seção Apresentação do Portifólio -->
    <section class="mt-14 w-auto h-[60vh] p-2 bg-fixed bg-gradient-to-tr from-blue-900 via-blue-600 to-black">

      <div class="flex flex-col items-center justify-center h-full">
        <h1 class="text-4xl font-bold text-white">Matheus Gregorin</h1>
        <p class="mt-4 text-lg text-white text-center">Seja bem vindo ao meu portifólio.</p>
      </div>

    </section>

    <!-- Seção de chamada ao sobre mim -->
    <section class="flex items-start justify-center h-[25vh] w-full cursor-pointer" :class="bg"
      @click="goToSection('section-about')">
      <div class="welcome" :class="bg">
        <a class="cursor-pointer" href="#section-about" :class="colorText">Deixe-me apresentar</a>
        <svg class="cursor-pointer" href="#section-about" width="56" height="56" fill="#acacac"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M12 16l-4-4h8z" />
          <path d="M12 20l-4-4h8z" />
        </svg>

      </div>

    </section>

    <!-- Seção sobre mim -->
    <section id="section-about" class="grid w-full h-auto pt-16 pb-10 lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1"
      :class="bg">

      <div class="flex w-full h-auto p-6 items-center lg:justify-end md:justify-center sm:justify-center">
        <img src="./assets/Profile.jpeg" alt="Imagem de perfil" class="w-full h-[60vh] object-cover bg-fixed">
      </div>

      <div id="my-apresentation" class="flex justify-center items-center w-full border-l-2 border-gray-300"
        :class="colorText">
        <div
          class="w-full text-center text-md p-4 justify-center md:justify-center text-left sm:justify-center text-left"
          class="card">
          Me chamo Matheus Gregorin, sou um entusiasta de tecnologia com foco em desenvolvimento de software. Desde
          2022, atuo profissionalmente como desenvolvedor back-end, sempre buscando evoluir minhas habilidades e
          ampliar meu conhecimento na área. Tenho formação em Análise e Desenvolvimento de Sistemas pela SPTech
          School, onde construí uma base sólida em lógica, arquitetura de sistemas e boas práticas de desenvolvimento.
          Sou movido por desafios e motivado a aprender constantemente, o que me ajuda a me adaptar rapidamente a
          diferentes projetos e equipes.
        </div>
      </div>
    </section>

    <div class="flex-col w-full h-auto justify-center items-center py-10" :class="bg">
      <h2 class="flex w-full h-auto justify-center items-center pt-10 text-2xl" :class="colorText"> Tecnologias de
        conhecimento
        <!-- <img src="/assets/sinal-de-pergunta.png" class="h-4 w-4 ml-2"
          title="Você pode clicar na stack para ir a sua documentação." alt="Simbolo de interrogação"> -->
      </h2>
    </div>


    <!-- Seção Tec -->
    <section id="section-tec"
      class="flex flex-nowrap overflow-x-scroll pl-4 pr-4 space-x-4 items-center h-[45vh] w-full bg-fixed bg-gradient-to-tr from-blue-900 via-blue-600 to-black"
      style="box-shadow: inset -10px 0 10px -10px rgb(255, 255, 255);">
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"> <img class="h-[22vh] w-full rounded-lg"
          src="./assets/php.png" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[22vh] w-full rounded-lg"
          src="./assets/laravel.png" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[22vh] w-full rounded-lg"
          src="./assets/java.jpg" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[22vh] w-full rounded-lg"
          src="./assets/spring.jpg" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[22vh] w-full rounded-lg"
          src="./assets/nodejs.jpg" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[22vh] w-full rounded-lg"
          src="./assets/python.png" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[22vh] w-full rounded-lg"
          src="./assets/vueJs.jpg" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[22vh] w-full rounded-lg"
          src="./assets/react.jpg" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[22vh] w-full rounded-lg"
          src="./assets/javascript.jpg" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[22vh] w-full rounded-lg"
          src="./assets/mysql.jpeg" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[22vh] w-full rounded-lg"
          src="./assets/mongodb.jpeg" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[22vh] w-full rounded-lg"
          src="./assets/sqlite.jpg" alt=""></div>
    </section>

    <div class="flex w-auto h-[3vh] justify-end items-center px-4 py-4 flex lg:hidden md:hidden sm:flex" :class="bg">
      <svg class="move" width="36" height="56" fill="#acacac" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        style="transform: rotate(90deg);">
        <path d="M12 16l-4-4h8z" />
        <path d="M12 20l-4-4h8z" />
      </svg>
      <h2 class="move" class="flex h-auto justify-center items-center text-sm" :class="colorText"> Deslize para o lado
      </h2>
    </div>

    <div class="hidden w-auto h-[3vh] justify-end items-center px-4 py-4 flex lg:flex md:flex sm:hidden" :class="bg">
      <h2 class="move" class="flex h-auto justify-center items-center text-sm" :class="colorText"> Continue para ver
        mais
      </h2>
      <svg class="move" width="36" height="56" fill="#acacac" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        style="transform: rotate(-90deg);">
        <path d="M12 16l-4-4h8z" />
        <path d="M12 20l-4-4h8z" />
      </svg>
    </div>

    <div class="flex-col w-auto h-auto justify-center items-center py-10" :class="bg">
      <h2 class="flex w-full h-auto justify-center items-center pt-10 text-2xl" :class="colorText"> Estatistícas do
        Desenvolvedor </h2>
    </div>

    <!-- Seção Dash -->
    <section id="section-dash"
      class="grid w-auto h-auto justify-center items-center pt-[8vh] pb-20 px-4 grid-cols-1 justify-center items-center bg-fixed bg-gradient-to-tr from-blue-900 via-blue-600 to-black">

      <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4 w-full h-auto">

        <div id="container-kpis"
          class="grid grid-cols-1 h-auto width-full backdrop-blur-md bg-white/10 border border-white/30 mb-6 rounded-lg p-4 lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
          <div id="qtdLanguages" :class="bg"
            class="grid grid-cols-1 h-[15vh] bg-blue-400 m-2 rounded justify-center items-center">
            <p class="flex justify-center items-center text-md h-auto" :class="colorText"> Linguagens de Domínio:
            </p>
            <p id="qtdLangValue" class="flex justify-center items-center text-lg" :class="colorText"> 0 </p>
          </div>
          <div id="qtdMerchants" :class="bg" class="grid grid-cols-1 h-[15vh] m-2 rounded">
            <p class="flex justify-center items-center text-md h-auto" :class="colorText"> Projetos Profissionais:
            </p>
            <p id="qtdMerchantsValue" class="flex justify-center items-center text-lg" :class="colorText"> 5 </p>
          </div>
          <div id="qtdProjects" :class="bg" class="grid grid-cols-1 h-[15vh] m-2 rounded">
            <p class="flex justify-center items-center text-md h-auto" :class="colorText"> Projetos Pessoais: </p>
            <p id="qtdProjectsValue" class="flex justify-center items-center text-lg" :class="colorText"> 0 </p>
          </div>
          <div id="qtdStars" :class="bg" class="grid grid-cols-1 h-[15vh] m-2 rounded">
            <p class="flex justify-center items-center text-md h-auto" :class="colorText"> Estrelas em
              Repositórios Pessoal: </p>
            <p id="qtdStarValue" class="flex justify-center items-center text-lg" :class="colorText"> 0 </p>
          </div>
        </div>

        <!-- Dash Pie -->
        <div id="container-pie"
          class="flex flex-col items-center lg:h-auto justify-center w-full backdrop-blur-md bg-white/10 border border-white/30 mb-6 rounded-lg p-8">
          <div id="pie" class="h-60 w-full">
          </div>
        </div>

        <!-- Dash Line -->
        <div id="container-line"
          class="flex flex-col items-center lg:h-auto justify-center w-full backdrop-blur-md bg-white/10 border border-white/30 mb-6 rounded-lg p-8">
          <div id="line" class="h-60 w-full">
          </div>
        </div>

        <!-- Dash Bar -->
        <div id="container-bar"
          class="flex flex-col items-center lg:h-auto justify-center w-full backdrop-blur-md bg-white/10 border border-white/30 mb-6 rounded-lg p-8">
          <div id="bar" class="h-60 w-full">
          </div>
        </div>

      </div>

    </section>

    <div id="projects-intro" class="flex flex-col w-full h-auto justify-center items-center py-10" :class="bg">
      <h2 class="flex w-full h-auto justify-center items-center pt-10 text-2xl" :class="colorText"> Projetos Pessoais
      </h2>
    </div>

    <!-- Seção Projetos Pessoais -->
    <section id="projects"
      class="flex grid grid-cols-1 min-h-screen h-auto w-full pt-10 pb-6 px-4 bg-fixed bg-gradient-to-tr from-blue-900 via-blue-600 to-black">
      <div id="list"
        class="grid relative h-auto w-full place-items-center gap-2 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">

        <div v-show="showProject"
          class="absolute w-full p-4 rounded-lg border border-gray-400  lg:h-[90vh] sm:absolute h-[82vh]" :class="bg">
          <div class="flex items-center space-x-4 w-full">
            <hr class="w-full">
            <svg class="cursor-pointer" width="18" height="18" @click="toggleProject(0, false)"
              xmlns="http://www.w3.org/2000/svg" fill="none" stroke="gray" viewBox="0 0 24 24" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </div>
          <div class="pt-6 text-4xl bold pb-2 overflow-x-hidden" :class="colorText"> {{ projectShow.name }}</div>
          <div
            class="grid h-auto w-auto px-4 pb-4 mb-2 border border-gray-200 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1">
            <div class="pt-4" :class="colorText">Projeto: {{ projectShow.private ? "Privado" : "Público" }} </div>
            <div class="pt-4" :class="colorText">Linguagem: {{ projectShow.language ? projectShow.language : "Outros"}}
            </div>
            <div class="pt-4" :class="colorText"> Quantidade de commits: {{ qtdCommits }} </div>
            <div class="pt-4" :class="colorText">Data de criação: {{ new
              Date(projectShow.created_at).toLocaleString('pt-BR', {
              year: 'numeric',
              month: '2-digit',
              day: '2-digit',
              hour: '2-digit',
              minute: '2-digit',
              second: '2-digit',
              hour12: false // Para usar formato 24h
              }) }}</div>
            <div class="pt-4" :class="colorText">Última atualização: {{ new
              Date(projectShow.pushed_at).toLocaleString('pt-BR', {
              year: 'numeric',
              month: '2-digit',
              day: '2-digit',
              hour: '2-digit',
              minute: '2-digit',
              second: '2-digit',
              hour12: false // Para usar formato 24h
              }) }}</div>
          </div>
          <div class="pt-4" :class="colorText">
            <p class="text-2xl pb-2">Descrição:</p>
            <div class="flex h-[28vh] w-auto border border-gray-200 p-4 text-left overflow-y-scroll">
              {{ projectShow.description ? projectShow.description : "Sem Descrição"}}
            </div>
          </div>
          <div class="pt-4 pb-4 underline text-blue-500 cursor-pointer" @click="dispatchUrl()">Clique aqui para acessar
            o
            projeto
          </div>
          <hr>
        </div>

        <div v-if="!showProject" v-for="({name, created_at}, index) in projects" :key="index"
          @click="toggleProject(index, true)"
          class="flex h-[25vh] w-full justify-start items-center rounded text-white text-2xl cursor-pointer backdrop-blur-md bg-white/10 border border-white/30">
          <div class="h-[15vh] w-[2vh] mx-4" :class="getRandomColorClass()"></div>
          {{ name }}
        </div>

      </div>
    </section>

    <div id="projects-intro" class="flex flex-col w-full h-auto justify-center items-center py-10" :class="bg">
      <h2 class="flex w-full h-auto justify-center items-center pt-10 text-2xl" :class="colorText"> Conceitos &
        Arquiteturas
        <!-- <img src="/assets/sinal-de-pergunta.png" class="h-4 w-4 ml-2 lg:flex md:flex sm:hidden"
          title="Você pode clicar na stack para ir a sua documentação." alt="Simbolo de interrogação"> -->
      </h2>
      </h2>
    </div>

    <section id="section-concepts"
      class="flex flex-nowrap overflow-x-scroll pl-4 pr-4 space-x-4 items-center h-[45vh] w-full bg-fixed bg-gradient-to-tr from-blue-900 via-blue-600 to-black"
      style="box-shadow: inset -10px 0 10px -10px rgb(255, 255, 255);">
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[28vh] w-full rounded-lg"
          src="./assets/Clean.png" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[28vh] w-full rounded-lg"
          src="./assets/DDD.png" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[28vh] w-full rounded-lg"
          src="./assets/Tdd.png" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[28vh] w-full rounded-lg"
          src="./assets/Arch.png" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[28vh] w-full rounded-lg"
          src="./assets/SOLID.png" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[28vh] w-full rounded-lg"
          src="./assets/Repo.png" alt=""></div>
      <div class="min-w-[200px] h-22 flex-shrink-0 rounded-lg"><img class="h-[28vh] w-full rounded-lg"
          src="./assets/Dep.png" alt=""></div>
    </section>

    <div class="flex w-auto h-[3vh] justify-end items-center px-4 py-4 flex lg:hidden md:hidden sm:flex" :class="bg">
      <svg class="move" width="36" height="56" fill="#acacac" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        style="transform: rotate(90deg);">
        <path d="M12 16l-4-4h8z" />
        <path d="M12 20l-4-4h8z" />
      </svg>
      <h2 class="move" class="flex h-auto justify-center items-center text-sm" :class="colorText"> Deslize para o lado
      </h2>
    </div>

    <div class="hidden w-auto h-[3vh] justify-end items-center px-4 py-4 flex lg:flex md:flex sm:hidden" :class="bg">
      <h2 class="move" class="flex h-auto justify-center items-center text-sm" :class="colorText"> Continue para ver
        mais
      </h2>
      <svg class="move" width="36" height="56" fill="#acacac" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        style="transform: rotate(-90deg);">
        <path d="M12 16l-4-4h8z" />
        <path d="M12 20l-4-4h8z" />
      </svg>
    </div>

    <div class="flex flex-col w-full h-auto justify-center items-center py-10" :class="bg">
      <div id="projects-intro" class="flex flex-col w-full] h-auto justify-center items-center py-2" :class="bg">
        <h2 class="flex w-full h-auto justify-center items-center pt-10 text-2xl" :class="colorText"> Redes sociais
        </h2>
      </div>
      <div
        class="w-auto h-auto p-4 flex justify-center items-center grid gap-1 lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1">
        <div
          @click="sendTo('https://mail.google.com/mail/?view=cm&tf=0&to=math.gregorin@gmail.com&su=Assunto&body=Corpo%20da%20mensagem')"
          class="flex w-full h-auto justify-center items-center text-2xl" :class="colorText">
          <img class="h-[10vh] w-[30vh] cursor-pointer"
            src="https://img.shields.io/badge/Gmail-333333?style=for-the-badge&logo=gmail&logoColor=red"
            alt="gmail icon">
        </div>
        <div class="flex w-full h-auto justify-center items-center text-2xl" :class="colorText">
          <img title="Adicione meu usuário: solomon_write_20550" class="h-[10vh] w-[30vh] cursor-pointer"
            src="https://img.shields.io/badge/Discord-7289DA?style=for-the-badge&logo=discord&logoColor=white"
            alt="gmail icon">
        </div>
        <div @click="sendTo('https://www.linkedin.com/in/matheus-gregorin-22b496197/')"
          class="flex w-full h-auto justify-center items-center text-2xl" :class="colorText">
          <img class="h-[10vh] w-[30vh] cursor-pointer"
            src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"
            alt="gmail icon">
        </div>
        <div @click="sendTo('https://github.com/matheus-gregorin')"
          class="flex w-full h-auto justify-center items-center text-2xl" :class="colorText">
          <img class="h-[10vh] w-[30vh] cursor-pointer"
            src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
            alt="gmail icon">
        </div>
      </div>
    </div>

    <section id="section-bottom"
      class="flex pl-4 pr-4 items-center h-[20vh] w-full bg-fixed bg-gradient-to-tr from-blue-900 via-blue-600 to-black">
    </section>

  </div>

  <script>

    const { createApp } = Vue;

    createApp(
      {
        data() {
          return {
            isMenuOpen: false, // Estado para controlar o menu
            isMode: false, // Estado para controlar o modo escuro
            bg: 'bg-gray-100 text-gray-600',
            colorText: 'text-gray-600',
            mode: 'Modo Dark',
            showProject: false,
            projects: [],
            projectShow: [],
            qtdCommits: 0,
            colors: [
              'bg-gray-400',
              'bg-blue-400',
              'bg-green-400',
              'bg-red-400',
              'bg-yellow-400',
              'bg-purple-400',
              'bg-pink-400',
              'bg-indigo-400',
              'bg-teal-400',
              'bg-orange-400',
            ],
          }
        },
        methods: {
          toggleMenu() {
            this.isMenuOpen = !this.isMenuOpen; // Alterna entre aberto e fechado
          },
          toggleMode() {
            if (this.isMode) {
              this.isMode = false;
              this.bg = 'bg-gray-100';
              this.colorText = 'text-gray-600';
              this.mode = 'Modo Dark';
            } else {
              this.isMode = true;
              this.bg = 'bg-gray-900';
              this.colorText = 'text-white';
              this.mode = 'Modo Light';
            }
          },
          toggleProject(index, goToSection) {
            this.showProject = !this.showProject; // Alterna entre aberto e fechado
            this.projectShow = this.projects[index];
            this.getCommits(); // Chama a função para obter os commits do projeto selecionado
            if (goToSection) {
              this.goToSection('projects-intro'); // Rola para a seção de projetos
            }
          },
          goToSection(section) {
            const element = document.getElementById(section);
            if (element) {
              element.scrollIntoView({ behavior: 'smooth' });
            }
          },
          sendTo(to) {
            window.open(to, '_blank');
          },
          getRandomColorClass() {
            const randomIndex = Math.floor(Math.random() * this.colors.length);
            return this.colors[randomIndex];
          },
          async dispatchUrl() {
            const url = this.projectShow.html_url;
            if (url) {
              window.open(url, '_blank');
            } else {
              alert('URL não disponível');
            }
          },
          async fetchRepositories() {
            const resquest = await fetch('https://api.github.com/users/matheus-gregorin/repos');
            return await resquest.json();
          },
          async getProjects() {
            fetchRepositories().then(repositories => {
              this.projects = repositories.map(repo => repo);
            });
          },
          async fetchCommits(repo) {
            const resquest = await fetch(`https://api.github.com/repos/matheus-gregorin/${repo}/commits`);
            return await resquest.json();
          },
          async getCommits() {
            if (this.projectShow.name) {
              const commits = await this.fetchCommits(this.projectShow.name);
              const qtdCommits = commits.length;
              this.qtdCommits = qtdCommits;
            }
          }
        },
        mounted() {
          this.getProjects();
        }
      }
    ).mount('#app');
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // 1. Liste os IDs dos elementos que você quer animar
      const animatedElementIds = ['my-apresentation', 'projects'];

      // 2. Converta os IDs em referências aos elementos DOM
      const animatedElements = animatedElementIds.map(id => document.getElementById(id));

      // 3. Adicione o event listener para o scroll
      window.addEventListener('scroll', () => {
        // Para cada elemento na nossa lista
        animatedElements.forEach(element => {
          // Verifique se o elemento existe (para evitar erros se um ID não for encontrado)
          if (element) {
            const rect = element.getBoundingClientRect();

            // Verifica se o elemento está visível na viewport (com uma margem)
            const isVisible = rect.top < window.innerHeight - 50 && rect.bottom > 50;

            if (isVisible) {
              // Se visível, adiciona a classe para ativar a animação
              console.log('Elemento visível:', element.id);
              element.classList.add('is-visible');
            } else {
              // Se NÃO visível, remove a classe para "zerar" a animação
              element.classList.remove('is-visible');
            }
          }
        });
      });
    });
  </script>


</body>

</html>