<!DOCTYPE html>
<html lang="pt-br" class="scroll-smooth">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfólio</title>

  <!-- Tailwind via CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Vue via CDN -->
  <script src="./js/vue.js"></script>
  <!-- Echart -->
  <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
  <!-- EChart -->
  <script src="./js/echart.js"></script>
  <!-- Css -->
  <link rel="stylesheet" href="./css/index.css">
</head>

<body>

  <!-- APP -->
  <div id="app" class="w-full min-h-screen">

    <!-- Menu -->
    <header class="fixed top-0 left-0 w-full shadow-md z-50 h-16" :class="bg">

      <nav class="transition-all duration-300 ease-in-out ml-6" :class="bg">
        <div class="flex items-center justify-between h-16 pl-2" :class="bg">
          <!-- Itens da navbar para telas grandes -->
          <div class="hidden sm:flex space-x-6 ml-6">
            <div class="text-lg">
              <a href="index.html" :class="colorText">Início</a>
            </div>
            <div class="text-lg">
              <a href="about.html" :class="colorText">Sobre</a>
            </div>
            <div class="text-lg cursor-pointer">
              <a @click="toggleMode()" :class="colorText">Modo Dark</a>
            </div>
          </div>

          <!-- Menu mobile (ícone de hambúrguer para telas pequenas) -->
          <div class="sm:hidden flex items-center">
            <button @click="toggleMenu" :class="bg">
              <svg v-if="!isMenuOpen" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="gray"
                viewBox="0 0 24 24" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
              <svg v-if="isMenuOpen" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="gray"
                viewBox="0 0 24 24" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
        </div>

        <!-- Menu dropdown para telas pequenas -->
        <div v-if="isMenuOpen" class="sm:hidden shadow-md absolute left-0 right-0 top-16 border-b-2" :class="bg">
          <div class="text-lg px-6 py-4 border-b-2 border-t-2">
            <a href="index.html" :class="colorText">Início</a>
          </div>
          <div class="text-lg px-6 py-4 border-b-2">
            <a href="about.html" :class="colorText">Sobre</a>
          </div>
          <div class="text-lg px-6 py-4 ">
            <a @click="toggleMode()" :class="colorText">Modo Dark</a>
          </div>
        </div>
      </nav>
    </header>

    <!-- Seção Apresentação do Portifólio -->
    <section class="mt-14 w-full h-[60vh] p-2 bg-cover bg-no-repeat bg-[url(/assets/background.jpg)]">

      <div class="flex flex-col items-center justify-center h-full">
        <h1 class="text-4xl font-bold text-white">Matheus Gregorin</h1>
        <p class="mt-4 text-lg text-white text-center">Seja bem vindo ao meu portifólio.</p>
      </div>

    </section>

    <!-- Seção de chamada ao sobre mim -->
    <section class="flex items-start justify-center h-[35vh] cursor-pointer" :class="bg"
      @click="goToSection('section-about')">
      <div class="welcome" :class="bg">
        <a class="cursor-pointer" href="#section-about" :class="colorText">Deixe-me apresentar</a>
        <svg class="cursor-pointer" href="#section-about" width="56" height="56" fill="#acacac"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M12 16l-4-4h8z" />
          <path d="M12 20l-4-4h8z" />
        </svg>

      </div>

    </section>

    <!-- Seção sobre mim -->
    <section id="section-about"
      class="grid grid-cols-1 pb-10 h-auto md:grid-cols-2 place-items-center gap-1 p-2 h-auto lg:h-[80vh]" :class="bg">

      <div class="w-[50vh] h-[60vh] sm:w-[85vh] sm:h-[75vh] flex justify-center items-center pt-2 sm:pt-2">
        <img src="./assets/Profile.jpeg" alt="Imagem de perfil"
          class="w-[35vh] h-[50vh] sm:w-[70vh] sm:h-[60vh] object-cover">
      </div>

      <div class="text-lg text-left pr-0  md:pr-12 text-md sm:text-md pt-4 lg:text-left" :class="colorText">
        <div class="corrossel">
          <div class="card">
            Me chamo Matheus Gregorin, sou um entusiasta de tecnologia com foco em desenvolvimento de software. Desde
            2022, atuo profissionalmente como desenvolvedor back-end, sempre buscando evoluir minhas habilidades e
            ampliar meu conhecimento na área. Tenho formação em Análise e Desenvolvimento de Sistemas pela SPTech
            School, onde construí uma base sólida em lógica, arquitetura de sistemas e boas práticas de desenvolvimento.
            Sou movido por desafios e motivado a aprender constantemente, o que me ajuda a me adaptar rapidamente a
            diferentes projetos e equipes.
          </div>
          <div class="card">
            Minhas principais competências técnicas estão voltadas ao desenvolvimento back-end, com domínio em PHP,
            Laravel, Node.js e Python. Também tenho experiência com bancos de dados relacionais e não relacionais, como
            MySQL, MongoDB e SQLite, garantindo integração e performance em diferentes aplicações. No front-end, utilizo
            JavaScript, Vue.js e Tailwind CSS para criar interfaces responsivas e modernas. Além disso, tenho
            familiaridade com versionamento de código (Git), integração com APIs, consumo de serviços RESTful e noções
            de segurança e performance em ambientes de produção.
          </div>
          <div class="card">
            Meu foco atual é me consolidar como desenvolvedor fullstack, ampliando ainda mais minha atuação no front-end
            e em tecnologias modernas como React.js e Next.js, enquanto aprofundo meus conhecimentos em arquitetura de
            software e testes automatizados. Tenho grande interesse em contribuir com projetos desafiadores, onde posso
            aplicar boas práticas, colaborar em equipe e crescer tanto tecnicamente quanto profissionalmente. Busco
            oportunidades que valorizem inovação, aprendizado contínuo e impacto real.
          </div>
        </div>
      </div>
    </section>

    <!-- Seção de chamada a tecnologias -->
    <section class="flex items-start justify-center h-[35vh] cursor-pointer" :class="bg"
      @click="goToSection('section-tec')">
      <div class="welcome" :class="bg">
        <a class="cursor-pointer" href="#section-about" :class="colorText">Tecnologias de conhecimento</a>
        <svg class="cursor-pointer" href="#section-1" width="56" height="56" fill="#acacac"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M12 16l-4-4h8z" />
          <path d="M12 20l-4-4h8z" />
        </svg>

      </div>

    </section>

    <!-- Seção 1 -->
    <section id="section-tec"
      class="grid w-full h-auto pt-20 pb-20 px-12 gap-5 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3" :class="bg">

      <!-- Primeira div com a imagem -->
      <div class="tec" class="flex-col h-[50vh] bg-gray-200 rounded-lg shadow-md justify-center items-end">
        <img class="h-[40vh] w-full" src="./assets/php.png" alt="">
        <div class="flex flex-row w-full h-[10vh] pl-2 sm:pl-4 pt-4 md:pl-2" :class="bg">
          <p class="text-black text-lg mr-2" :class="colorText"> PHP |</p>
          <a href="https://www.php.net/docs.php" target="_blank" class="text-blue-500 cursor-pointer text-lg">
            Documentação... </a>
        </div>
      </div>

      <div class="tec" class="flex-col h-[50vh] bg-gray-200 rounded-lg shadow-md justify-center items-end">
        <img class="h-[40vh] w-full" src="./assets/laravel.png" alt="">
        <div class="flex flex-row w-full h-[10vh] bg-white pl-2 sm:pl-4 pt-4 md:pl-2" :class="bg">
          <p class="text-black text-lg mr-2" :class="colorText"> Laravel |</p>
          <a href="https://laravel.com/docs/12.x" target="_blank" class="text-blue-500 cursor-pointer text-lg">
            Documentação... </a>
        </div>
      </div>

      <div class="tec" class="flex-col h-[50vh] bg-gray-200 rounded-lg shadow-md justify-center items-end">
        <img class="h-[40vh] w-full" src="./assets/python.png" alt="">
        <div class="flex flex-row w-full h-[10vh] bg-white pl-2 sm:pl-4 pt-4 md:pl-2" :class="bg">
          <p class="text-black text-lg mr-2" :class="colorText"> Python |</p>
          <a href="https://docs.python.org/3/" target="_blank" class="text-blue-500 cursor-pointer text-lg">
            Documentação... </a>
        </div>
      </div>

      <div class="tec" class="flex-col h-[50vh] bg-gray-200 rounded-lg shadow-md justify-center items-end">
        <img class="h-[40vh] w-full" src="./assets/javascript.jpg" alt="">
        <div class="flex flex-row w-full h-[10vh] bg-white pl-2 sm:pl-4 pt-4 md:pl-2" :class="bg">
          <p class="text-black text-lg mr-2" :class="colorText"> Javascript |</p>
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"
            class="text-blue-500 cursor-pointer text-lg"> Documentação... </a>
        </div>
      </div>

      <div class="tec" class="flex-col h-[50vh] bg-gray-200 rounded-lg shadow-md justify-center items-end">
        <img class="h-[40vh] w-full" src="./assets/nodejs.jpg" alt="">
        <div class="flex flex-row w-full h-[10vh] bg-white pl-2 sm:pl-4 pt-4 md:pl-2" :class="bg">
          <p class="text-black text-lg mr-2" :class="colorText"> Node Js |</p>
          <a href="https://nodejs.org/docs/latest/api/" target="_blank" class="text-blue-500 cursor-pointer text-lg">
            Documentação... </a>
        </div>
      </div>

      <div class="tec" class="flex-col h-[50vh] bg-gray-200 rounded-lg shadow-md justify-center items-end">
        <img class="h-[40vh] w-full" src="./assets/react.jpg" alt="">
        <div class="flex flex-row w-full h-[10vh] bg-white pl-2 sm:pl-4 pt-4 md:pl-2" :class="bg">
          <p class="text-black text-lg mr-2" :class="colorText"> react Js |</p>
          <a href="https://react.dev/learn" target="_blank" class="text-blue-500 cursor-pointer text-lg">
            Documentação... </a>
        </div>
      </div>

      <div class="tec" class="flex-col h-[50vh] bg-gray-200 rounded-lg shadow-md justify-center items-end">
        <img class="h-[40vh] w-full" src="./assets/mysql.jpeg" alt="">
        <div class="flex flex-row w-full h-[10vh] bg-white pl-2 sm:pl-4 pt-4 md:pl-2" :class="bg">
          <p class="text-black text-lg mr-2" :class="colorText"> Mysql |</p>
          <a href="https://dev.mysql.com/doc/" target="_blank" class="text-blue-500 cursor-pointer text-lg">
            Documentação... </a>
        </div>
      </div>

      <div class="tec" class="flex-col h-[50vh] bg-gray-200 rounded-lg shadow-md justify-center items-end">
        <img class="h-[40vh] w-full" src="./assets/mongodb.jpeg" alt="">
        <div class="flex flex-row w-full h-[10vh] bg-white pl-2 sm:pl-4 pt-4 md:pl-2" :class="bg">
          <p class="text-black text-lg mr-2" :class="colorText"> Mongo DB |</p>
          <a href="https://www.mongodb.com/pt-br/docs/" target="_blank" class="text-blue-500 cursor-pointer text-lg">
            Documentação... </a>
        </div>
      </div>

      <div class="tec" class="flex-col h-[50vh] bg-gray-200 rounded-lg shadow-md justify-center items-end">
        <img class="h-[40vh] w-full" src="./assets/sqlite.jpg" alt="">
        <div class="flex flex-row w-full h-[10vh] bg-white pl-2 sm:pl-4 pt-4 md:pl-2" :class="bg">
          <p class="text-black text-lg mr-2" :class="colorText"> Sqlite |</p>
          <a href="https://www.sqlite.org/docs.html" target="_blank" class="text-blue-500 cursor-pointer text-lg">
            Documentação... </a>
        </div>
      </div>

    </section>

    <!-- Seção Dash -->
    <section id="section-dash" class="grid w-full h-auto pt-20 pb-20 px-2 grid-cols-1 justify-center items-center" :class="bg">

      <h1> Graficos </h1>

      <div id="container-dash" class="flex flex-col items-center justify-center h-100 width-full bg-blue-200">
        <div id="chart" class="h-52 w-full">
          Grafico do Git Hub
        </div>
      </div>

    </section>

    <section class="flex items-start justify-center h-[35vh] cursor-pointer" :class="bg"
      @click="goToSection('section-project')">
      <div class="welcome" :class="bg">
        <a class="cursor-pointer" href="#section-about" :class="colorText">Meus Projetos</a>
        <svg class="cursor-pointer" href="#section-1" width="56" height="56" fill="#acacac"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M12 16l-4-4h8z" />
          <path d="M12 20l-4-4h8z" />
        </svg>

      </div>

    </section>

    <!-- Seção 2 -->
    <section id="section-project" class="grid w-full h-[250vh] pt-10 pb-10 px-12 gap-5 grid-cols-1" :class="bg">

      <div>
        Menu de escolha de projetos
      </div>

      <div>
        Informaçẽoẽs sobre o projeto
      </div>

      <div>
        Imagens do projeto
      </div>

    </section>

  </div>

  <script>

    const { createApp } = Vue;

    createApp(
      {
        data() {
          return {
            isMenuOpen: false, // Estado para controlar o menu
            isMode: false, // Estado para controlar o modo escuro
            bg: 'bg-gray-100 text-black',
            colorText: 'text-black'
          }
        },
        methods: {
          toggleMenu() {
            this.isMenuOpen = !this.isMenuOpen; // Alterna entre aberto e fechado
          },
          toggleMode() {
            if (this.isMode) {
              this.isMode = false;
              this.bg = 'bg-gray-100';
              this.colorText = 'text-black';
            } else {
              this.isMode = true;
              this.bg = 'bg-gray-900';
              this.colorText = 'text-white';
            }
            console.log(this.bg, this.isMode);
          },
          goToSection(section) {
            const element = document.getElementById(section);
            if (element) {
              element.scrollIntoView({ behavior: 'smooth' });
            }
          }
        },
      }
    ).mount('#app');
  </script>

</body>

</html>